.posts {
    padding-top: 20px;
    padding-left: 20px;
}

.postsMaker {
    padding-top: 20px;
    padding-left: 20px;
}

.input {
    height: 70px;
    width: 700px;
    border-radius: 10px;
    border-style: none;

}

.button {
    background-color: #465065;
    border-radius: 5px;
    color: whitesmoke;
}