.posts {
    padding-top: 20px;
    padding-left: 20px;
}

.postsMaker {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.postsMaker header{
    margin: 5px 0;
    font-size: 20px;
}

.input {
    min-height: 120px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #bebbbb;
    border-radius: 10px;
    border-style: none;
    resize: none;
}

.button {
    margin: 5px 0;
    background-color: #465065;
    border-radius: 10px;
    color: whitesmoke;
}
