.header {
    grid-area: h;
    background-color: #232c40;;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.headerImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 2px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


a:hover {
    color: red;
}

.login {
    cursor: pointer;
}

.hh {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    margin: 0 15px;
}
