.app-container {
    display: grid;
    grid-template-areas:
            'h h'
            'n m';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    color: whitesmoke;
}

.header__img {

}

.header__text {

}


.background {
    background: #161d2d;
    height: 100ch;
}