.app-container {
    display: grid;
    grid-template-areas:
            'h h'
            'n m';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
    max-width: 1200px;
    margin: auto;
}

.header {
    grid-area: h;
    background: darkslategray;
    color: aliceblue;

}

.header__img {

}

.header__text {

}

.main {
    grid-area: m;
}

.nav {
    grid-area: n;
    background: darkslategray;
    height: 600px;
    color: aliceblue;
}

.background {
    background: #585b62;
    height: 100ch;
}