
.dialogPage {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 20px;

}

.users {
    background-color: #232c40;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    border-radius: 30px;

}

.dialogs {
    background-color: #232c40;
    padding-left: 10px;
    padding-top: 40px;
    border-radius: 30px;

}
.button {
    background-color: #465065;
    border-radius: 5px;
    color: whitesmoke;
}