
.dialogPage {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 20px;

}

.users {
    background-color: #232c40;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    border-radius: 30px;

}

.dialogs {
    background-color: #232c40;
    padding-left: 10px;
    padding-top: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
button {
    background-color: #465065;
    border-radius: 5px;
    color: whitesmoke;
    margin: 5px 0;
}
.formStyle{
    padding: 20px 10px;

}
.formStyle  form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
textarea{
    min-height: 80px;
    background-color: #bebbbb;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    resize: none;
}
